$primary-clr: #39955b;
$primary-drk: #1d482d;
$background-clr: #fff;
$font: Montserrat, Poppins, sans-serif;
$grey-shdw: rgba(0, 0, 0, 0.473);

* {
	font-family: $font;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	display: none;
}
@mixin buttonDefaults($bgColor, $textColor) {
	background-color: $bgColor;
	color: $textColor;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: darken($bgColor, 10%);
	}
}

.navbar {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.2rem 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $background-clr;
	color: $primary-clr;
	box-shadow: 2px 2px 5px ($primary-clr);
	z-index: 100;

	&__logo {
		display: flex;
		align-items: center;
		gap: 0.8rem;

		img {
			width: 70px;
			aspect-ratio: 1;
			transform: rotate(25deg);
		}

		.textLogo {
			font-size: 1.4rem;
			font-weight: 700;
			text-decoration: none;
			color: $primary-clr;
		}
	}

	&__links {
		display: flex;
		align-items: center;
		gap: 1rem;
		list-style: none;

		a {
			text-decoration: none;
			color: rgb(52, 52, 52);
			font-weight: 500;
			transition: 0.3s;

			&:hover {
				color: $primary-drk;
			}
		}

		.btn {
			background-color: $primary-clr;
			padding: 0.5rem 1.2rem;
			border-radius: 8px;
			color: $background-clr;

			&:hover {
				background-color: $primary-drk;
				color: $background-clr;
			}
		}
	}
}
