@mixin buttonDefaults($bgColor, $textColor) {
	background-color: $bgColor;
	color: $textColor;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: darken($bgColor, 10%);
	}
}
