.landingBox {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 2em;

	.topBox {
		display: flex;
		flex-direction: row;
		width: 100%;
		gap: 1.5rem;
		padding: 0 30px;
		align-items: center;
		justify-content: space-between;
	}
}
