@use "App";

* {
	font-family: App.$font;
}
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.box {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		.card {
			transition: all 0.5s ease-in-out;
			width: 650px;
			height: 550px;
			border-radius: 1rem;
			border: 3px solid #343434;
			box-shadow: 2px 2px 4px #6a6a6a;
			transition: all 0.3s ease-in-out;
			display: none;
			background-color: #39955b14;
			transform: translate(-200%, 0px);
			&.hovered {
				border: 3px solid App.$error-clr;
			}
			&.next {
				transform: translate(325%, 0px);
				position: absolute;
				display: flex;
				flex-direction: column;
				padding: 1rem;
				scale: 0.4;
			}
			&.prev {
				scale: 0.4;
				transform: translate(-325%, 0px);
				position: absolute;
				display: flex;
				flex-direction: column;
				padding: 1rem;
			}
			&.active {
				scale: 1;
				transform: translate(150%, 0px);
				position: absolute;
				display: flex;
				flex-direction: column;
				padding: 1rem;
				transform: translate(0px, 0px);
			}

			&.one {
				.title {
					background-color: #39955be9;
					border-radius: 1rem;
					padding: 1rem 2.5rem;
					color: white;
					span {
						font-size: 1.15rem;
						font-family: App.$font;
						font-weight: 400;
						font-style: italic;
						& > span {
							font-weight: 700;
						}
					}
				}
				.terms {
					padding: 1rem 2.5rem;

					textarea {
						box-shadow: 0px 0px 5px 2px #39955b;
						width: 100%;
						height: 335px;
						border: none;
						outline: none;
						border-radius: 1rem;
						background-color: rgb(255, 255, 255);
						padding: 1.5rem;
						font-family: App.$font;
						font-size: 0.9rem;
						font-weight: 450;
						resize: none;
						scroll-behavior: smooth;
					}
				}
				.button {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 3rem;
					margin-bottom: 1rem;

					.agree {
						background-color: App.$primary-clr;
						padding: 0.9rem 2.5rem;
						display: flex;
						gap: 1rem;
						border-radius: 8px;

						button {
							color: white;
						}
						&:hover {
							scale: 1.1;
						}
					}
					.disagree {
						border: 2px solid App.$error-clr;
						padding: 0.9rem 2rem;
						display: flex;
						gap: 1rem;
						border-radius: 8px;
						background-color: #919c9566;

						&:hover {
							scale: 1.1;
						}
						button {
							color: App.$error-clr;
						}
					}
					button {
						font-size: 1.1rem;
						font-weight: 700;
						background-color: transparent;
						outline: none;
						border: none;
					}
				}
			}
			&.two {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
				background-color: white;
				.form {
					display: flex;
					flex-direction: column;
					gap: 1rem;

					.name {
						display: grid;
						grid-template-columns: 1.5fr 1fr;
						padding: 0 1.1rem;
						grid-gap: 1rem;
						max-width: 800px;
						width: 100%;
						gap: 1.75rem;
						& > div {
							position: relative;
							width: 100%;
							height: auto;
							.labelName {
								position: absolute;
								top: -10px;
								left: 20px;
								font-size: 1rem;
								font-weight: 525;
								padding: 0.3rem 1rem;
								color: #474747;
								background-color: white;
							}

							input {
								border-radius: 0.75rem;
								border: 1.7px solid #474747;
								width: 100%;
								padding: 1.15rem 1.25rem;
								font-size: 1.05rem;
								font-weight: 550;
								outline: none;

								&::placeholder {
									font-weight: normal;
									font-size: 0.9rem;
									text-transform: capitalize;
								}
							}
						}
						.suffix {
							position: relative;
							display: flex;
							flex-direction: row;
							align-items: center;
							// justify-content: space-around;
							gap: 1rem;

							label {
								position: absolute;
								top: -10px;
								left: 14px;
								font-size: 1rem;
								font-weight: 525;
								padding: 0.3rem 1rem;
								color: #474747;
								background-color: white;
							}
							select {
								border: 1.7px solid #474747;
								padding: 1.1rem 3rem;
								border-radius: 1rem;
								font-size: 1.1rem;
								font-weight: 520;

								option {
									font-weight: 520;
									font-size: 1.1rem;
									border-radius: 1rem;
								}
							}
						}
					}
				}
			}
		}
	}
}
